*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 600;
}
body{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/anime-one-piece-monkey-d-luffy-wallpaper-preview.jpg");
    width: 100%;
    height: auto;
  
}
.navbar{
    font-size: 40px;
    background-color: rgba(0, 255, 255, 0.178);
    width: 100%;
    backdrop-filter: blur(5px); 

    
    
}
.navbar a{
    padding: 5px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(105, 120, 255);
}

.searchbar{
    width: auto;
    height: auto; 
    display: flex;
    float: left;
    background-color: transparent;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}
.searchbar input[type=text] {
    text-align: center; 
    padding: 10px;
    border: none;
    font-size: la;
    outline: none;
    background: transparent; 
  }
.searchbar ::placeholder{
      color: rgb(54, 47, 47);
      font-size: larger;
  }
.searchbar_click button{
    border-radius: 50%;
    border-style: none;
    padding: 5px;
    background: transparent;
    outline: none;  
}
.searchbar_click button img{   
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    opacity: 0.7;
    padding: 1.5px;
}
.main1{
    background-color:transparent;
    height: 1000x;
    width: 100%;
    padding: 50px;
    margin-bottom: 100px;
}
.icon_logo{
    color: rgb(243, 242, 242);  
    scale: 1.2;
    padding: 30px;  
}
.icon_logo i{
    padding: 15px;
}
.icon_logo1 :hover{
    scale: 1.8; 
    color: rgb(0, 0, 0);
}
.icon_logo2 :hover{
    scale: 1.8; 
    color: rgb(255, 0, 0);
}
.profile img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    float: right;
    padding: 20px;
}
/* .grid{
    padding: 20px;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(255, 136, 0);
    flex-direction: column;
    grid-template-columns:500px 500px auto ;
    grid-template-rows: 500px 500px ;
    display: grid;
    text-align: center;
    height: 1080px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    row-gap: 10px;
}
.box{
    border-style: double;
    border-color: rgb(0, 38, 255);
    height: 500px;
}
.grid img{
    height: 200px;
    width: 200px;
} */
.about_page{
    padding: 10px;
    text-align: center;
    background-color: rgb(28, 29, 24);
    height: auto;
    width: 100%;
    color: rgb(220, 20, 60);
    opacity: 1;
}
.contactinfo{
    padding: 20px ;
    background-color: gold;
    height: auto;
    width: 100%;
    color: rgb(0, 0, 0);
    float: left;
}

.contactinfo a{
    text-transform: uppercase; 
    color: rgb(240, 4, 4)
}
.contactinfo a:hover{
    color: green
}
.signup_settings{
    margin: 1%;
    background-color: rgb(205, 207, 171);
    opacity: 0.8;
    height: auto;
    width: 100%;
}
.signup_settings input{
    margin: 15px;
    font-size: large;
    font-weight: 500;
    border-style: none;
    width: auto;
    height: 40px; 
    outline: none;
}
.inputbar2 input{
    margin: 15px;
    font-size: large;
    font-weight: 500;
    border-style: none;
    width: auto;
    height: 40px; 
    outline: none;
}
.sign1 input{
    height: auto;
    width: 20%;
    border-radius: 5%;
    color: rgb(250, 250, 250);
    background-color: rgb(23, 139, 0);
    border-style: none;
    font-size: 20px;
    padding: 2px;
    text-align: center;
}
.last_page_box{
height: auto;
background-color: #222222;
}
.last_icon_logo a{
    color: rgb(243, 242, 242); 
} 
.last_icon_logo i:hover{
    color: crimson;
}
.last_icon_logo i{
    padding: 25px;
    color: rgb(243, 242, 242); 
    scale: 1.5;

} 
}
.footer{
    margin: 10px;
    padding: 10px;
}
